:root {
    --bg-color_mainboard: #f8fafc;
    --f-color_text: #515e71;
    --f-color_text_dark: #030304;
    --ff-main: "Roboto", sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-main);
}

*:focus {
    outline: none;
}

body {
    padding: 0 3em;
}

.floating-content-container {
    margin-top: 1em;
    width: 95vw;
    height: 800px;
    min-width: 360px
}

.action-container {
    display: flex;
    gap: 1em
}

.screens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2em;
    border: 2px solid rgb(226, 226, 226);
    padding: 2px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.screen-size {
    height: 20px;
}

hr {
    color: #e8e8e8;
}

.screen-size1 {
    height: 20px;
}

.get-code-btn img {
    filter: invert(24%) sepia(38%) saturate(6070%) hue-rotate(263deg) brightness(88%) contrast(102%);
}

.mainblock-container {
    border-radius: 15px;
    background-color: #f3f6f9;
    height: 95%;
    width: 100%;
    display: flex;
    padding: 0.5em;
    gap: 0.5em;
}

.contentbox {
    
    height: 100%;
    min-width: 250px;
    width: 20%;
    background-color: #f3f6f9;
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    justify-content: space-between;
    border-radius: 10px;
}

.contentbox hr {
    border: none;
    border-top: 2px solid #e2e2e2;
    /* Ensures visibility */
    margin: 15px 0;
    width: 90%;
}

.logo-contentbox {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.logo-contentbox p {
    font-size: 1em;
    font-weight: 500;
}

.logo-contentbox img {
    height: 35px;
    border-radius: 50%;
}

.tabs-contenbox {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
    color: var(--f-color_text);
}

.tabs {
    display: flex;
    align-items: center;
    font-weight: 450;
    gap: 0.3em;
    cursor: pointer;
    padding: 0.3em;
    color: var(--f-color_text);
}

.tabsimg {
    height: 25px;
    filter: invert(34%) sepia(20%) saturate(470%) hue-rotate(176deg) brightness(99%) contrast(92%);
}

.selected-cb {
    border: 2px solid rgb(225, 225, 225);
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0.5px 0.5px 1px rgb(225, 225, 225), -0.5px -0.5px 1px rgb(225, 225, 225);
    min-width: 150px;
    color: #030304;
}

.mainbox {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 79%;
    min-width: 300px;
    border-radius: 10px;
    padding: 1em;
}

.main-content-nav {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 1px solid blueviolet;
    padding: 0.5em;
    border-radius: 5px;
    height: 40px;
    margin-right: 200px;
}

.popup-container{
    display: flex;
    gap: 1em;
}

.search-container img {
    height: 15px;
    filter: invert(34%) sepia(20%) saturate(470%) hue-rotate(176deg) brightness(99%) contrast(92%);
}

#search-main-box {
    border: none;
    font-size: 1em;
}

.user-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.notification {
    border: 2px solid rgb(228, 228, 228);
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.notification img {
    height: 15px;
    filter: invert(34%) sepia(20%) saturate(470%) hue-rotate(176deg) brightness(99%) contrast(92%);
}

.profile img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.mainbox hr {
    margin-top: 0.5em;
    border: 1px dotted rgb(229, 229, 229);
}

.displaybox-inner{
    margin-top: 1em;
    border: 2px dashed rgb(222, 222, 222);
    height: 88%;
    min-width: 300px;
    border-radius: 10px;
}

.popup{
    display: none;
}

.popup img{
    height: 35px;
    cursor: pointer;
}

@media screen  and (max-width: 700px){

    body{
        padding: 0;
    }

    .popup{
        display: block;
    }

    .floating-content-nav{
        display: none;
    }

    .contentbox {
        display: none;
    }

    .mainbox{
        width: 100%;
    }

    .displaybox-inner{
        margin-top: 0.5em;
        height: 80%;
    }

    .user-container {
        margin-top: 1em;
    }


}

@media screen and (min-width: 700px) and (max-width: 1280px){

    body{
        padding: 0.5em;
    }

    .popup{
        display: block;
    }

    .floating-content-nav{
        display: none;
    }

    .contentbox {
        display: none;
    }

    .mainbox{
        width: 100%;
    }

    .displaybox-inner{
        height: 88%;
    }
}